.primary-button {
  background-color: black;
  border-radius: 12px;
  border: 3px solid #787878;
  color: white;
  cursor: pointer;
  font-family: "sf-pro-display";
  font-weight: 400;
  padding: 8px 16px;
  width: fit-content;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: center;
  /* text-align: center; */
}

@media screen and (width >= 640px) {
  .wrapper {
    align-items: start;
    gap: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    /* text-align: left; */
  }
}
